{
  "extends": "airbnb/legacy",
  "env": {
    "mocha": true
  },
  "rules": {
    "id-length": 0,
    "no-console": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "strict": 0,
    "semi": 0,
    "comma-dangle": 0,
    "unwantedLocations": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0
  }
}
